# 全ファイルを無視する
*

!.gitignore
!.gitkeep

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!*.ts
!*.tsx
!*.html
!*.md

!/examples/
!/examples/src/
!/examples/src/**/

!/packages/
!/packages/amplify-auth-hooks/
!/packages/amplify-auth-hooks/src/
!/packages/amplify-auth-hooks/src/**/

!.biome.jsonc
!.env.sample
!NOTICE
!package.json
!tsconfig.json
!vite.config.ts

!/.editorconfig
!/.ncurc.cjs
!/.npmrc
!/bumpver.toml
!/commitlint.config.cjs
!/lefthook.yaml
!/LICENSE
!/mise.toml
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/turbo.json
!/tsconfig.base.json
!/vitest.config.ts
